.basic-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app-button {
    cursor: pointer;
}

span {
    padding-left: 24px;
    font-size: 14px;
}