<div class="transition-content">
  <button class="app-button" (click)="toggleState()">Adicionar Item</button>
  <span [@removeMe]="btnState">{{ eventTime }}</span>

  <div class="row">
    <div class="col-md-12">
      <div 
        *ngFor="let item of items" 
        class="item-container" 
        [@myTrigger]="state"
        (@myTrigger.start)="animStart($event)" 
        (@myTrigger.done)="animDone($event)">
        <div class="identifier"></div>
        <p>{{ item }}</p>
      </div>
    </div>
  </div>
</div>
    